// # src/theme.scss

// ## Documentation ==========================================================
/**
 * 사이트 전체에 적용되는 공통 테마 스타일을 이 곳에 작성합니다.
 */

// ## Import Declaration =====================================================

// ### Asset:
// #### Asset > Font

@font-face {
  font-family: Koverwatch;
  src: url(asset/font/koverwatch.ttf);
}

@font-face {
  font-family: NanumSquare;
  src: url(asset/font/NanumSquareNeo.woff);
}

@font-face {
  font-family: Pretendard;
  src: url(asset/font/PretendardVariable.ttf);
}

// ### Image:

// ## Variable & Constant ====================================================

// ### Variable:

.light {
  --color-main: #ffffff;
  --color-sub: #f4f5f7;
  --color-reverse: #000000;
  --color-blur: #00000040;
}

.dark {
  --color-main: #353839;
  --color-sub: #2f2f31;
  --color-reverse: #ffffff;
  --color-blur: #ffffff40;
}

.smooth {
  scroll-behavior: smooth;
}

.outer {
  box-shadow:
    4px 4px 10px -1px rgba(0, 0, 0, 0.25),
    -4px -4px 10px -1px rgba(255, 255, 255, 0.25);
}

.inner {
  box-shadow:
    inset 4px 4px 10px -1px rgba(0, 0, 0, 0.25),
    inset -4px -4px 10px -1px rgba(255, 255, 255, 0.25);
}

.blur {
  background-color: var(--color-blur);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

// ### Animation:

// ## Style ==================================================================

* {
  font-family: Pretendard;
  font-size: 16px;

  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 100;
  text-decoration: none;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
