@font-face {
  font-family: NanumSquareNeo;
  src: url(assets/fonts/NanumSquareNeo.woff) format('woff');
}

@font-face {
  font-family: NanumSquareRound;
  src: url(assets/fonts/NanumSquareRound.woff) format('woff');
}

@font-face {
  font-family: Koverwatch;
  src: url(assets/fonts/koverwatch.ttf);
}

:root {
  --color-theme: #009e73;
}

.light {
  --color-main: #a80000;
  --color-sub: #a80000;
  --color-reverse: #a80000;
}

.dark {
  --color-main: #a80000;
  --color-sub: #a80000;
  --color-reverse: #a80000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: NanumSquareNeo;
  color: #000000;
  text-decoration: none;

  &::-webkit-scrollbar {
    height: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: red;
    background-clip: padding-box;
    border-radius: 100px;
    border: 2px solid transparent;
  }
}

.outer {
  box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, 0.25), -4px -4px 10px -1px rgba(255, 255, 255, 0.25);
}

.inner {
  box-shadow: inset 4px 4px 10px -1px rgba(0, 0, 0, 0.25),
    inset -4px -4px 10px -1px rgba(255, 255, 255, 0.25);
}

.blur {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-blend-mode: overlay;
}
