:root {
  --color-theme: #009e73;
}

.light {
  --color-main: #a80000;
  --color-sub: #a80000;
  --color-reverse: #a80000;
}

.dark {
  --color-main: #a80000;
  --color-sub: #a80000;
  --color-reverse: #a80000;
}
